/* Header Homepage */
.header{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../public/media/bg_header.png');
    min-height: 130vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* pagina contatti */
.h-custom{
    height: 400px;
}

.box{
    border: dotted white 2px;
    min-height: 250px;
    max-width: 250px;
    transition: all 0.5s;
    cursor: pointer;
}

.box:hover{
    border: 3px solid white;
    transform: translateY(-10px);
}

.icon{
    font-size: 50px;
}

/* Users Section */
.userHeight{
    height: 80vh;
}


/* corsi */
.corsi{
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../public/media/bg_header.png');
    min-height: 95vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
